html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #1b284a;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn {
  padding: 9px 24px;
  transition: 0.5s all ease;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  letter-spacing: 0.3px;
  line-height: 1.8;
  box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
  color: #fff;
  background: #63e6be;
  font-family: inherit;
}
.btn:hover {
  text-decoration: none;
}

a:hover,
.btn:hover,
.icon_btn:hover {
  filter: brightness(90%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  padding: 1rem 4%;
}
nav ul {
  display: flex;
  align-items: center;
}
nav a {
  color: #1b284a;
  margin-right: 2rem;
}

.subheader {
  background: #f9f9f9;
  padding: 3rem 4%;
}
.subheader h1 {
  font-size: 1.8rem;
  color: #1b284a;
}

main {
  padding-top: 4rem;
  min-height: 900px;
}
main .btn {
  margin: 2.5rem 0;
}
main h2 {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #d5d8dd;
  max-width: 600px;
}
main .project-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 3rem;
}
main .list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 12px;
  background: #ed789b;
  background: #fab005;
  box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 14rem;
  width: 17rem;
}
main .list-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .list-item.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .list-item.empty .icon_btn {
  font-size: 1.8rem;
}
main .list-item .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .list-item a {
  color: #1b284a;
  color: #1b284a;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
main .list-item .icon_btn {
  border: none;
  background: transparent;
  color: #1b284a;
  margin-left: 0.5rem;
}
main .list-item:nth-of-type(2) {
  background: #74c0fc;
}
main .list-item:nth-of-type(1) {
  background: #f9f9f9;
  border: dashed 2px #a3afdc;
}
main .list-item:nth-of-type(3) {
  background: #63e6be;
}
main .list-item footer {
  background: transparent;
  text-align: center;
}

.footer {
  padding: 2rem 4%;
  background: #22242d;
  background: #1b284a;
  color: #fff;
}
.footer .footer-link-container {
  margin-bottom: 6rem;
}
.footer h3 {
  color: #fff;
}
.footer li {
  padding: 5px 0;
}
.footer li a {
  color: #a3afdc;
  font-size: 0.9rem;
}
.footer .copy {
  font-size: 0.8rem;
  color: #a3afdc;
  padding-top: 1rem;
  border-top: 1px solid #393e46;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
